
/* General Styles /////////////////////////////////////////////////////////////////*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

#headerView {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
}

/* Styles for Mobile /////////////////////////////////////////////////////////////////*/

#bodyView {
    margin-top: 95px;
    max-width: 1140px;
    width: 95%;
}

/* Styles for Header //////////*/

@@keyframes hideShowHeader {
    from {margin-top: 0;}
    to {margin-top: -125px;}
}

.headroom--pinned {
    margin-top: 0;
}
.headroom--unpinned {
    margin-top: -125px;
}

.header {
    width: 100%;
}

.header__container1 {
    background-color: white;
    width: 100%;
    -webkit-transition: margin-top 500ms; /* Safari */
    -moz-transition: margin-top 500ms;
    -o-transition: margin-top 500ms;
    transition: margin-top 500ms;
}

.header__container2 {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #494949); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #494949); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #494949); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #494949); /* Standard syntax */
    border-bottom: black 1px solid;
    width: 100%;
}

.header__container-logoAndCall {
    align-items: center;
    background-color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    width: 95%;
}

.logoAndCall__logo {
    height: 65px;
    margin: 5px 0;
}

.logoAndCall__estimateNumber {
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
}

.estimateNumber-freeEstimate {
    background-color: black;
    border-radius: 5px 5px 0 0;
    color: white;
    padding:5px;
}

.estimateNumber-phoneNumber {
    padding:5px;
}

.estimateNumber-phoneNumber a:link {
    color: black;
    text-decoration: none;
}

.estimateNumber-phoneNumber a:visited {
    color: black;
    text-decoration: none;
}

.estimateNumber-phoneNumber a:hover {
    color: black;
    text-decoration: none;
}

.estimateNumber-phoneNumber a:active {
    color: black;
    text-decoration: none;
}

.menuX-hamburger {
    height: 50px;
}

.menuX-x {
    height: 50px;
}

.header__container-nav {
    display: none;
    margin: 0 auto;
    max-width: 1140px;
    width: 95%;
}

.nav__menu {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #494949); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #494949); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #494949); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #494949); /* Standard syntax */
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 5px 0;
    text-align: right;
    width: 100%;
}

.nav__menu-item {
    font-size: 1.2em;
    margin: 15px 5px;
}

.nav__menu-item a:link {
    color: white;
    text-decoration: none;
}

.nav__menu-item a:visited {
    color: white;
    text-decoration: none;
}

.nav__menu-item a:hover {
    color: white;
    text-decoration: none;
}

.nav__menu-item a:active {
    color: white;
    text-decoration: none;
}

.header__whiteLine {
    display: none;
}

/* Styles for Home ////////////////////////*/

.homeContainer {
    margin: 0 auto;
}

.homeContainer__companyName {
    text-align: center;
}

.homeContainer__carousel {
    width: 90%;
    margin: 0 auto;
}

.carousel__image {
    margin: 0 auto;
}

.slick-dots {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0 200px;
}

.mainImageContainer__image {
    width: 100%;
}

.homeContainer__intro {
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

/* Styles for Footer ////////////////////////*/

#footerView {
    background-color: #494949;
    margin-top: 25px;
}

.footerContainer {
    margin: 0 auto;
    max-width: 1140px;
    width: 95%;
}

.footerContainer__copyright {
    color: white;
    display: inline-block;
    padding: 15px 0;
}

.footerContainer__phone {
    color: white;
    float: right;
    padding: 15px 0;
    text-decoration: none;
}

/* Styles for size from iPhone 6S landscape to desktop /////////////////////////////////////////////////////////////////*/
@media (min-width: 740px) {
    /* General Styles /////////////////////////////////////////////////////////////////*/

    #bodyView {
        margin: 185px auto 0 auto;
    }

    /* Styles for Header //////////*/

    .header__menuX {
        display: none;
    }

    .logoAndCall__logo {
        height: 115px;
    }

    .header__container2 {
        text-align: center;
    }

    .header__container-nav {
        display: inline-block;
    }

    .nav__menu {
        display: flex;
        height: 35px;
        justify-content: space-around;
        align-items: center;
    }

    .header__whiteTriangle {
        height: 0;
        width: 0;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
        border-bottom: solid 7px white;
        margin-top: -7px;
        position: relative;
    }

    .header__whiteLine {
        background: white;
        border-style: none;
        display: block;
        height: 5px;
        margin: 0;
    }
}
