<div class="header">
    <div class="header__container1">

        <div class="header__container-logoAndCall">

            <img class="logoAndCall__logo" src="../images/gwi.png" alt="Great Western Logo"/>

            <div class="logoAndCall__estimateNumber">
                <div class="estimateNumber-freeEstimate">
                    Free Estimate:
                </div>
                <div class="estimateNumber-phoneNumber">
                    <a href="tel:8015555555"><strong>(801) 555-5555</strong></a>
                </div>
            </div>

            <div class="header__menuX">
                <img class="menuX-hamburger" src="../images/hamburger.png" ng-hide="menuOpen" ng-click="showMenu()"/>
                <img class="menuX-x" src="../images/close.png" ng-show="menuOpen" ng-click="showMenu()" />
            </div>

        </div>

    </div>

    <div class="header__container2">

        <div class="header__container-nav">
            <ul class="nav__menu">
                <li class="nav__menu-item">Home</li>
                <li class="nav__menu-item">Gallery</li>
                <li class="nav__menu-item">Contact</li>
                <li class="nav__menu-item">About</li>
            </ul>
        </div>

    </div>

</div>
