<div class="header">
    <div class="header__container">
        
        <div class="header__container-logoAndCall">
            <img class="logoAndCall__logo" src="../images/gwi.png" alt="Great Western Logo"/>
            <div class="logoAndCall__freeEstimate">
                Free Estimate:
            </div>
            <div class="logoAndCall__phoneNumber">
                (801) 555-5555
            </div>
        </div>

        <div class="header__container-nav">
            <ul class="nav__menu">
                <li class="nav__menu-item">Home</li>
                <li class="nav__menu-item">Gallery</li>
                <li class="nav__menu-item">Contact</li>
                <li class="nav__menu-item">About</li>
            </ul>
        </div>

    </div>
</div>
