<div class="homeContainer">

    <div class="homeContainer__carousel">
        <div><img class="carousel__image" src="./images/gallery/colored-back-patio/colored-back-patio-one.JPG" height="600px"/></div>
        <div><img class="carousel__image" src="./images/gallery/colored-stamped-sealed/colored-stamped-three.JPG" height="600px"/></div>
        <div><img class="carousel__image" src="./images/gallery/colored-stamped-sealed-walkway/stamped-walkway-three.JPG" height="600px"/></div>
        <div><img class="carousel__image" src="./images/gallery/custom-back-patios/custom-patio-one.JPG" height="600px"/></div>
        <div><img class="carousel__image" src="./images/gallery/rip-out-replace/rip-replace-one.JPG" height="600px"/></div>
        <div><img class="carousel__image" src="./images/gallery/rv-pad-extension/rv-seven.JPG" height="600px"/></div>
    </div>

    <div class="homeContainer__mainImageContainer">
        <div>
            <a ui-sref="gallery"><img class="mainImageContainer__image" src="./images/slide4.jpg"/></a>
        </div>
    </div>

    <div class="homeContainer__intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, metus ut placerat dapibus, odio nulla auctor ligula, sit amet dignissim turpis lorem a urna. Morbi tincidunt ut sem ac vulputate. Pellentesque volutpat tempor faucibus. Sed porta, dui in tempus fringilla, augue mauris convallis massa, id malesuada quam libero eu libero. Nunc vitae lacus hendrerit, interdum ligula nec, accumsan enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur rhoncus urna maximus cursus facilisis. Fusce eleifend varius quam in accumsan. Nullam eu sagittis metus.
    </div>
</div>
